<div class="row">
  <div class="medium12 columns">
    <h2>Languages of: <%= @user.name %></h2>

    <%= form_for [@user, @languages] do | f | %>
      <%= f.label :language %>
      <%= f.text_field :language %>

      <%= f.submit 'Save', {'class' => 'button' } %>
    <% end %>

    <a href="#" class="button split">Options<span data-dropdown="drop"></span></a><br>
    <ul id="drop" class="f-dropdown" data-dropdown-content>
      <li><%= link_to 'Add language', new_user_language_path(@user) %></li>
      <li><%= link_to 'List languages', user_languages_path(@user) %></li>
      <li><%= link_to 'Back', users_path %></li>
    </ul>

  </div>
</div>