<div class="row">
  <div class="medium-12 columns medium-centered">
    <h1>New on TandemNizr?</h1>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns medium-push-6">
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Password confirmation" %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="actions">
        <%= f.submit "Create my profile",  {'class' => 'button' } %>
      </div>
    <% end %>
  </div>
  <div class="medium-6 columns medium-pull-6">
    <blockquote>Connect with your people like you — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.</blockquote>
  </div>
</div>