<div class="row">
  <div class="medium-4 columns hide-for-small-only">
    <ul class="side-nav">
      <li><label>General Information</label></li>
      <li><%= link_to 'Edit profile', edit_user_path(@user) %></li>
      <li><%= link_to 'List languages', user_languages_path(@user) %></li>
    </ul>
  </div>
  <div class="medium-8 columns">
    <h4>Profile details</h4>
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Nationality:</strong>
      <%= @user.nationality %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @user.city %>
    </p>

    <p>
      <strong>Cp:</strong>
      <%= @user.cp %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= @user.age %>
    </p>

    <p>
      <strong>Career:</strong>
      <%= @user.career %>
    </p>

    <p>
      <strong>Photo:</strong>
      <%= @user.photo %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @user.description %>
    </p>
    <strong>Languages for tandems:</strong>
    <ul class="inline-list">
      <% @user.languages.each do | language | %>
        <li><span class="alert label"><%= iso_language(language.language)  %></span></li>
      <% end %>
    </ul>
  </div>
</div>