<div class="row">
  <div class="medium-12 columns medium-centered">
    <h3>Time to Tandeming!</h3>
  </div>
</div>
<div class="row">
  <div class="medium-8 columns medium-push-4">
  <h4>Suggested places...</h4>
  <ul class="inline-list">
    <% @results.each do | result | %>
    <li>
      <span class="label secondary tiny">
        <%= link_to(result.name, "#" ) %>
      </span>
    </li>
    <% end %>
  </ul>
  <div id="map-places"></div>
  <div id="map-canvas"></div>
  </div>
  <div class="medium-4 columns medium-pull-8">
    <h4>Choose where to TandemNize!</h4>
    <p>Please, select the language for tandeming!</p>
    <%= form_for [@tandem] do | f | %>
        <%= f.hidden_field 'user_id',value: params[:user_id] %>
        <%= f.hidden_field 'language',value: params[:language] %>

        <%= f.label :place %>
        <%= f.text_field :place %>

        <%= f.label :schedule %>
        <%= f.date_field :schedule %>

        <ul class="inline-list right">
          <li><%= link_to("Cancel", users_path) %></li>
          <li><%= f.submit 'Send invitation', {'class' => 'button right' } %></li>
        </ul>
      <% end %>
  </div>
</div>