<div class="row">
  <div class="medium-12 columns medium-centered">
    <h3>Time to Tandeming!</h3>
  </div>
</div>
<div class="row">
  <% if @host_participation %>
  <div class="medium-6 columns medium-push-6">
  <a class="th radius" href="#">
    <img src="<%= @host_participation.photo %>">
  </a>
  </div>
  <div class="medium-6 columns medium-pull-6">
    <h4><small>Available languages from</small> <%= @host_participation.name %></h4>
    <p>Please, select the language for tandeming!</p>
    <ul class="inline-list">
      <% @host_participation.languages.each do | language | %>
        <li><%= link_to iso_language(language.language), tandem_path(id: @participation.tandem_id, token: @participation.token, language: language.language), method: :put, "class" => "button small" %></li>
      <% end %>
    </ul>
  </div>
  <% else %>
  <div class="medium-6 columns medium-push-6">
  <a class="th radius" href="#">

  </a>
  </div>
  <div class="medium-6 columns medium-pull-6">
    <h4>Choose where to TandemNize!</h4>
    <p>Please, select the language for tandeming!</p>
    <%= form_for [@tandem] do | f | %>
        <%= f.hidden_field 'user_id',value: params[:user_id] %>
        <%= f.hidden_field 'language',value: params[:language] %>

        <%= f.label :place %>
        <%= f.text_field :place %>

        <%= f.label :schedule %>
        <%= f.date_field :schedule %>

        <%= f.submit 'Save', {'class' => 'button' } %>
      <% end %>
  </div>
  <% end %>
</div>