<%= render 'shared/orbit' %>
<section class="full-row clearfix"><br>
  <div class="medium-12">
    <div class="medium-4 columns">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint facere non iure culpa quia magni enim molestias! Cupiditate perferendis reprehenderit illo cum, doloremque quo suscipit, magni, ipsa veritatis sapiente mollitia. </p>
    </div>
    <div class="medium-4 columns">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat error alias veniam repellendus recusandae perspiciatis accusamus eos, fugit odit est dolores aperiam veritatis? Illo iure deserunt sapiente, ducimus pariatur officiis. </p>
    </div>
    <div class="medium-4 columns">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ut soluta aliquid tempora, pariatur accusantium quae assumenda saepe veniam quaerat, quasi suscipit unde voluptates, molestiae aspernatur facere necessitatibus cumque! Rerum. </p>
    </div>
  </div>
</section>
<%= render 'shared/partners' %>
<section class="row">
  <div class="medium-12 columns">
    <h1>The best tandems are not those that have already been done, but those that are to be done</h1>
  </div>
</section>
<section class="row">
  <div class="medium-4 columns">
    <%= image_tag("https://dl.dropboxusercontent.com/u/79814994/cdn/tandem-doing-activities.png", alt: "Find your perfect tandem") %>
  </div>
  <div class="medium-4 columns">
    <%= image_tag("https://dl.dropboxusercontent.com/u/79814994/cdn/tandem-group.jpg", alt: "Find your perfect tandem") %>
  </div>
  <div class="medium-4 columns">
    <%= image_tag("https://dl.dropboxusercontent.com/u/79814994/cdn/tandem-to-know-people.jpg", alt: "Find your perfect tandem") %>
  </div>
</section>