<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= content_for?(:title) ? yield(:title) : "TandemNizr" %></title>

<%= stylesheet_link_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body class="hide-extras">
  <section class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <aside class="right-off-canvas-menu">
        <%= render 'shared/right_off_canvas' %>
      </aside>
      <%= render 'shared/navigation' %>
      <main class="full-row">

        <%= flash_message %>
        <%= yield %>

      </main>
      <%= render 'shared/footer' %>
      <a class="exit-off-canvas"></a>

    </div>
  </section>
  <%= javascript_include_tag "application" %>
</body>
</html>